<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
    <title>UI原型图文件管理系统</title>
    <style>
        body{background-color: darkgray;}
        ul, li { list-style:none; padding:0; }
        li { float:left; width: 48%; line-height:30px; margin-left:10px; margin-bottom:10px; }
        .file_content{margin-left: 10px; margin-top: 20px;}
    </style>
    <script type="text/javascript" src="/static/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/static/FileUI.js"></script>
</head>
<body>
<div>
    <h1 style="text-align: center" >UI原型图文件管理系统-历史版本</h1>
</div>
<hr>

<div>
    <h2 style="color: aqua">历史版本列表：</h2>
    <label style="margin-left: 46px">所属项目：</label>
            <select onChange="FileUI.Action.listZip(this)" name="SELECT" id="sect_item" style="width:220px;height: 25px">
            {%for k, v in datas.items()%}
                <option data-name="{{v}}" value={{k}} {%if v == dirs%}selected="selected"{%end%}>{{v}}</option>
            {%end%}
            </select>
    <div style="text-align: center;margin-top: 50px">
        <a href="/" style="margin-bottom: auto;color: blueviolet;" >上传文件</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/list/dir=./ui/" style="margin-bottom: auto;color: blueviolet;">文件列表</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/history/dir=./file/" style="margin-bottom: auto;color: blueviolet;">历史版本</a>
</div>
    <div class="file_content">
共<span style="color: #c9302c">{{len(con_list)}}</span>条数据

     <ul>
    {%for temp in con_list%}
        <li>
            <a href="javascript:void(0);" onclick="FileUI.Action.downloadZip(this)" title="{{temp}}" name="{{dirs}}/{{temp}}">{{temp}}</a>
            <a href="javascript:void(0);" id="delZip" onclick="FileUI.Action.delUIZip(this)" name="{{dirs}}/{{temp}}" style="color: #cd0a0a; margin-left: 10px;">删除</a>
        </li>
    {%end%}
        </ul>
         </div>
</div>




</body>
</html>
